@import "tailwindcss";

:root {
  --background: whitesmoke;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-newsreader: var(--font-newsreader);
  --font-aeonik: var(--font-aeonik);
  --font-imperial: var(--font-imperial-script);
  --animate-fade-in: fadeIn 1.5s ease-out forwards;
  --animate-fade-in-up: fadeInUp 0.5s ease-out forwards;

}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeInUp {
  from { 
    opacity: 0;
    transform: translateY(20px);
  }
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}




/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

 @utility card {
    @apply flex flex-col w-full gap-3  bg-white rounded-lg shadow p-2;
 }


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-aeonik),  sans-serif;
}
